# dependencies
/node_modules

# local env file
.env.local

# next.js
/.next

# debug
yarn-debug.log*
yarn-error.log*

# tests
coverage

# seo
public/robots.txt
public/sitemap*.xml

# pwa
public/sw.js
public/workbox-*.js

# post template
_posts/markdown-template.md