# dependencies
/node_modules

# local env file
.env.local

# next.js
/.next

# debug
yarn-debug.log*
yarn-error.log*

# tests
__tests__/__snapshots__

# seo
public/robots.txt
public/sitemap*.xml

# post template
_posts/markdown-template.md