.markdown {
    @apply pt-3;
}

.markdown h2 {
    @apply font-bold text-blue-1 text-xl my-2 underline-offset-2 underline;
}

.markdown h3 {
    @apply font-bold text-blue-1 text-lg my-2 underline-offset-2 underline;
}

.markdown h4 {
    @apply font-bold text-blue-2 text-base my-2 underline-offset-2 underline;
}

.markdown h5 {
    @apply font-bold text-blue-2 text-sm my-2 underline-offset-2 underline;
}

.markdown h6 {
    @apply font-bold text-blue-2 text-xs my-2 underline-offset-2 underline;
}

.markdown blockquote {
    @apply bg-gray-4/40 border rounded-md p-4 m-4;
}

.markdown ul {
    @apply pl-2 list-none;
}

.markdown ul > li {
    @apply pl-1 relative;
}

.markdown ul > li:before {
    color: rgb(0 114 177);
    content: "-";
    font-weight: bolder;
    left: -.85rem;
    position: absolute;
}

.markdown ol {
    @apply pl-2 list-decimal marker:font-bold marker:text-blue-1;
}

.markdown ol > li {
    @apply pl-1;
}

.markdown pre {
    @apply mr-4;
}

.markdown a {
    @apply text-blue-1 visited:text-gray-3 underline;
}

.markdown code {
    @apply bg-gray-4/40 border rounded-md px-1 m-1;
}