.markdown {
  padding-top: 3rem;
}

.markdown h2,
.markdown h3 {
  font-weight: bold;
  color: rgb(0 114 177);
  font-size: 3rem;
  margin: 0 2rem;
  text-decoration: underline;
  text-underline-offset: 2rem;
}

.markdown h2 {
  font-size: 3rem;
}

.markdown h3 {
  font-size: 2rem;
}

.markdown h4 {
  font-size: 1.75rem;
}

.markdown h5 {
  font-size: 1.5rem;
}

.markdown h6 {
  font-size: 1.25rem;
}

.markdown blockquote {
  padding: 2rem;
  margin: 2rem;
}

.markdown ul {
  padding-left: 2rem;
  list-style-type: none;
}

.markdown ul > li {
  position: relative;
  padding-left: 2rem;
}

.markdown ul > li:before {
  color: rgb(0 114 177);
  content: '-';
  font-weight: bolder;
  left: -0.25rem;
  position: absolute;
}

.markdown ol {
  padding-left: 2rem;
  list-style-type: decimal;
}

.markdown ol > li {
  padding-left: 2rem;
}

.markdown pre {
  margin-right: 4rem;
}

.markdown a {
  color: rgb(0 114 177);
  text-decoration: underline;
}

.markdown a:visited {
  color: gray;
}

.markdown code {
  background-color: lightgray;
  border: 1px solid gray;
  border-radius: 20%;
  padding: 1rem 0;
  margin: 1rem 0;
}

.markdown img {
  margin: auto 0;
  width: 50%;
  padding: 0 2rem;
}
